[Unit]
Description=Synchronize vBook WPM content for %i to this minipc

[Service]
Type=oneshot
User=henk
Group=henk
ExecStart=/usr/bin/python3 /home/henk/.local/bin/wpm_minipc_sync.py --instance %i
