[Unit]
Description=Synchronize vBook WPM content for %i to this minipc hourly

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
