
/* Nunito Light */
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("Nunito-Light.woff2") format("woff2");
    unicode-range: U+0000-00FF; /* Basic Latin */
}

/* Nunito Regular */
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("Nunito-Regular.woff2") format("woff2");
    unicode-range: U+0000-00FF; /* Basic Latin */
}

/* Nunito SemiBold */
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("Nunito-SemiBold.woff2") format("woff2");
    unicode-range: U+0000-00FF; /* Basic Latin */
}

/* Nunito Bold */
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("Nunito-Bold.woff2") format("woff2");
    unicode-range: U+0000-00FF; /* Basic Latin */
}
*, *::before, *::after {
    box-sizing: border-box;
    }
    
    html, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
    q, s, samp, small, strong, sub, sup, var, b, i, dl, dt, dd,
    ol, ul, li, fieldset, form, label, legend, table, caption,
    tbody, tfoot, thead, tr, th, td, article, aside, canvas,
    details, embed, figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary, time, mark, audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    hr {
        border: none;
        height: 1rem;
        background-color: var(--baselight);
    }
    
    button {
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        font: inherit;
        color: inherit;
        text-align: inherit;
        cursor: pointer;
    }
    
    body, html {
        background-color: var(--bg);
        color: var(--basedark);
        margin: 0;
        padding: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        font-size: var(--default-size);
        font-family: "Nunito", sans-serif;
    }
    
    blockquote {
        border-inline-start-width: 4px;
        background-color: rgba(200, 200, 200, 0.7);
        margin-bottom: 1rem;
        margin-top: 1rem;
        border-color: var(--baselight);
        padding: 1rem;
        line-height: 1.625;
        border-radius: .5rem;
    }
    

:root{
    --basedark: #003D47;
    --base: #318e89;
    --baselight: #7f9a9abb;
    --accent: #62df9e;
    --link: #3267B5;
    --bg: #FFF;
    --error: #E02D00;
    --default-size: clamp(1.1rem, 1.2vw, 1.2rem);
    --default-rounding: 5px;
    --default-space: 3rem;
    --greencol: #137313;
}