@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');

:root {
    --star-clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
    --base: #D51801;
}
.basecol{
color: var(--base) !important;
}
/* Overflow handling for the dropdown menu */
.relative .group-hover\:block {
display: none;
}
/* Ensuring the dropdown works */
.group:hover .group-hover\:block {
    display: block;
}

.relative:hover .group-hover\:block {
display: block;
}

/* Removing unwanted rounded corners */
.nav .bg-zinc-800:hover {
    border-radius: 0;
}

.nav .bg-zinc-800 {
    border-radius: 0;
}

/* Custom styles for the mobile dropdown */
#nav-menu ul {
    padding-left: 1rem;
}

#nav-menu ul li {
    list-style-type: none;
}

/* Ensure navbar stays on top when scrolling */
.nav {
    margin: 0;
    z-index: 1000;
    position: sticky;
    top: 0;
}

/* Ensure mobile menu stays on top when scrolling */
#nav-menu {
    z-index: 50;
    position: sticky;
    top: 5rem;
}

.hamburger-active .hamburger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.hamburger-active .hamburger span:nth-child(2) {
    opacity: 0;
}
.hamburger-active .hamburger span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Ensuring body takes full height */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #111;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, Sans-serif !important;
}
.blackshadow{
    text-shadow: rgba(0, 0, 0, 1) 3px 3px 3px;
}
.whiteshadow{
    text-shadow: rgba(255, 255, 255, .8) 3px 3px 3px;
}
.goldshadow{
    text-shadow: rgba(212, 175, 55, .8) 3px 3px 3px;
}
.diamondshadow{
    text-shadow: rgba(185, 242, 255, .8) 3px 3px 3px;
}
.redshadow {
    text-shadow: rgba(213, 24, 1, 1) 3px 3px 3px;
    z-index: 9;
    position: relative;
}

.pricetags{
    line-height: 14.5rem;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}
.footerbefore {
      position: relative;
      height: 430px;
      overflow: hidden;
    z-index: 10;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
}
.stercontainer {
    position: relative;
    display: inline-block;
}
.ster {
    width: 100%;
    height: 100%;
    clip-path: var(--star-clip-path);
    object-fit: cover;
    position: relative;
}
