.editor-textarea {
  font-family: "Raleway", sans-serif;
}

.editor-lines {
  color: #9333ea;
}

.editor-textarea {
  caret-color: #9333ea;
}

.editor-textarea::selection {
  background-color: color-mix(in srgb, #9333ea 22%, transparent);
}

.editor-textarea,
.editor-lines {
  font-size: 15px;
}
