.editor-textarea {
  font-family: "Courier Prime", serif;
}

.editor-lines {
  color: #cda45e;
}

.editor-textarea {
  caret-color: #cda45e;
}

.editor-textarea::selection {
  background-color: color-mix(in srgb, #cda45e 22%, transparent);
}

.editor-textarea,
.editor-lines {
  font-size: 15px;
}
